---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout 
title="Sam Watts Portfolio" 
seoTitle="Sam Watts, Software Engineer Portfolio" 
seoDesc="Explore the portfolio of Sam Watts, a passionate Computer Science student with skills in software development, web design, and problem-solving. Discover projects in AI, app development, and data analysis, showcasing a commitment to innovative solutions and continuous learning. Open to internships and collaborative opportunities.">
	<p class="text-6xl">Hello</p>
</MainLayout>
