---
import { 
    Astronav,
    MenuItems, 
    MenuIcon, 
    Dropdown, 
    DropdownItems, 
    DropdownSubmenu } from "astro-navbar";
---

<header>
    <Astronav>
        <div>
            <a>sw</a>
            <div><Menu /></div>
        </div>
    </Astronav>
</header>