---
import Nav from "../components/nav.astro";
import ThreeDApp from "../components/ThreeDApp.vue";
import MainHead from "./MainHead.astro";

const {title,seoTitle,seoDesc} = Astro.props;
---

<html lang="en">
	<MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc}></MainHead>
	<body class="bg-sky-950 text-white">
		<Nav></Nav>
		<slot />
		<!--<ThreeDApp client:load />-->
		<style>
			body{
				font-family: "Carlito", sans-serif;
			}
		</style>
	</body>
</html>